#timer-view {
    display: none;
    text-align: center;
}

#timer-view > h1 {
    font-family: 'Bree Serif', serif;
    font-size: 1200%;
    font-size: 20vh;
}

#banner {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
